* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--font-primary-color);
}

.app {
  width: 100%;
  height: 100vh;
  color: var(--font-primary-color);
  background-color: var(--bg-secondary-dark-color);
}
